<div>
    <md-toolbar color="primary">
        <button md-icon-button>
            <md-icon class="menu">content_paste</md-icon>
        </button>
        <button [disabled]="!this.toolService.canUndo" (click)="this.toolService.undo()" md-icon-button>
            <md-icon>undo</md-icon>
        </button>
        <button [disabled]="!this.toolService.canRedo" (click)="this.toolService.redo()" md-icon-button>
            <md-icon>redo</md-icon>
        </button>
    </md-toolbar>
    <tool-container-component></tool-container-component>
</div>