#paper-wrapper {
    min-height: 80px;
    min-width: 80px;
    width: 800px;
    height: 400px;
}

.paper {
    position: absolute;
    image-rendering: pixelated;
}

#paper {
    z-index: 1;
    background: white;
}

#paper-volatile {
    z-index: 2;
    opacity: 1;
}

#segrip, #egrip, #sgrip {
    width: 3px;
    height: 3px;
    background-color: #ffffff;
    border: 1px solid #555555;
}

.grip {
    box-sizing: content-box;
}

#segrip {
    bottom: -5px;
    right: -5px;
}

#sgrip {
    bottom: -5px;
    left: 50%;
}

#egrip {
    right: -5px;
    top: 50%;
}