<div>
    <md-tab-group id="tool-container-tab-group">
        <md-tab-header></md-tab-header>
        <md-tab label="drawing">
            <drawing-tool-container-component></drawing-tool-container-component>
        </md-tab>
        <md-tab label="2dshapes">
            <tdshapes-tool-container-component></tdshapes-tool-container-component>
        </md-tab>
        <md-tab label="text">
            <text-tool-container-component></text-tool-container-component>
        </md-tab>
    </md-tab-group>
</div>