<md-list>
    <md-list-item>
        <button md-button class="menu-button">
            <md-icon>open_in_new</md-icon>
            <span>New</span>
        </button>
    </md-list-item>
    <md-list-item>
        <button md-button class="menu-button">
            <md-icon>folder_open</md-icon>
            <span>Open</span>
        </button>
    </md-list-item>
    <md-list-item>
        <button (click)="save()" md-button class="menu-button">
            <md-icon>save</md-icon>
            <span>Save</span>
        </button>
    </md-list-item>
    <md-divider></md-divider>
</md-list>